export(MH_multi)
export(MH_uni)
export(cptmcmc)
export(multinomial_regression)
importFrom(Rcpp,sourceCpp)
useDynLib(cptmcmc, .registration = TRUE)
import(MCMCpack)
import(mvtnorm)
importFrom("graphics", "abline", "boxplot", "par")
importFrom("stats", "dnorm", "plot.ts", "rnorm", "runif")
importFrom("utils", "data")